<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>urlShortyy</title>
    <style>
        body {
            background-color: black;
            color: white;
        }

        p {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            font-family: Arial, sans-serif;
        }

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a::after {
            content: attr(href);
        }

        a::before {
            content: "redirecting to ";
        }

        a::after, a::before {
            display: block;
            margin-top: 1rem;
        }

        a::after {
            font-size: 0.8rem;
        }

        a::before {
            font-size: 1.2rem;
        }
    </style>
</head>
<body>
    <p>redirecting to <a href="<%= fullUrl %>" target="_blank" rel="noopener noreferrer"></a><%= fullUrl %></p>
    <script>
        window.location.replace("<%= fullUrl %>");
    </script>
</body>
</html>